.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "grip grip orange"
    "apple apple orange"
    "banana banana orange";
  width: 700px;
  height: 300px;
}

.content>div {
  padding: 10px;
  border: 1px solid #333;
}